<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <script src="./js/index.js"></script>
    <script src="https://kit.fontawesome.com/8334ce9fa1.js" crossorigin="anonymous"></script>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <div id="bg-nav-wel">
        <nav class="navbar navbar-expand-lg navbar-collapse-md sticky-top navbar-dark bg-dark ms-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="./img/logo.PNG" class="img-fluid me-2" alt="logo" width="60px" height="60px"
                        style="float: left" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item" id="nav-ml">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item" id="nav-mr">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                    </ul>
                    <button class="btn" type="button" id="bookTable" onclick="bookTable()">
                        BOOK A TABLE
                    </button>
                </div>
            </div>
        </nav>
    </div>

    <div class="container mt-3">
        <form action="/add/todo" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        
                        <th scope="col">Name</th>
                        <th scope="col">Details</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><%= registers.name %></td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

</html>