#bg-black{
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#nav-ml{
    margin-left: 250px;
}

#nav-mr{
    margin-right: 150px;
}

.nav-item a{
    margin-left: 20px;
}

.nav-item a:hover{
    color: white;
}

.container a{
    color: white;
}

nav{
    opacity: 0.9;
}

#booking
{
    color: white;
    border: solid 4px rgb(253, 189, 79);
    border-radius: 30px;
    margin-left: auto;
    width: 140px;
}
#booking:hover
{
    background-color: rgb(253, 189, 79);
}

#signUp
{
    color: white;
    border: solid 4px rgb(253, 189, 79);
    border-radius: 30px;
    margin-left: 5px;
}
#signUp:hover
{
    background-color: rgb(253, 189, 79);
}


.container h3,.container h5{
    color: rgb(105, 107, 105);
}

.container h1{
    color: rgb(253, 189, 79);
}

.container h4{
    color:white;
    margin-top: 3%;
}

.row img{
    border-radius: 50px;
    border: 2px solid white;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
